<!DOCTYPE html>
        <!--
            Develop by Carlos Bedoy :D
            Django & Mobile Developer
        -->
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
<div data-role="page" id="{% block name-page %}{% endblock %}">

    <div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="b">
        <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">


            <li data-filtertext=""> <a href="{% url game.views.index %}">Home</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newAward %}">Award</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newCountry %}">Country</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newGame %}">Game</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newLocation %}">Location</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newModality %}">Modality</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newNationality %}">Nationality</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newPlayer %}">Player</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newReferee %}">Referee</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newTeam %}">Team</a></li>
            <li data-filtertext=""> <a href="{% url game.views.newTrainer %}">Trainer</a></li>

		</ul>

   	</div>

    <div data-role="panel" data-position="right" data-position-fixed="false" data-display="reveal" id="add-form" data-theme="b">

        <h3>Develop by Carlos Bedoy</h3>
        <p>Mobile responsive application develop, with support Oracle, MySQL, SQLite database, also this project is develop with Django Framework and JQueryMobile framework</p>
        <a href="#demo-links" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true">OK!</a>
        </div>




	<div data-role="header" data-theme="b">
		<h1>{% block header %}{% endblock %}</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
		    <a href="#add-form" data-icon="plus" data-iconpos="notext">Add</a>
	</div>

	<div data-role="content" data-theme="b">
        {% block content %}{% endblock %}

	</div>

    <div data-role="footer" data-theme="d">
        <center>
		{% block footer %}{% endblock %}
        </center>

	</div>



</div>
</body>
</html>




