<!DOCTYPE html>
        <!--
            Develop by Carlos Bedoy :D
            Django & Mobile Developer
        -->
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

</head>
<body>
<div data-role="page" id="{% block name-page %}{% endblock %}">

    <div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="b">

        <div data-role="collapsible-set">
            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>GrandSlamm</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Exit</a></li>
                </ul>
            </div>
            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>Items</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
                    <li><a href="/grandslam/award/new" data-transition="pop">Award</a></li>
                    <li><a href="/grandslam/country/new" data-transition="pop">Country</a></li>
                    <li><a href="/grandslam/game/new" data-transition="pop">Game</a></li>
                    <li><a href="/grandslam/location/new" data-transition="pop">Location</a></li>
                    <li><a href="/grandslam/modality/new" data-transition="pop">Modality</a></li>
                    <li><a href="/grandslam/nationality/new" data-transition="pop">Nationality</a></li>
                    <li><a href="/grandslam/player/new" data-transition="pop">Player</a></li>
                    <li><a href="/grandslam/referee/new" data-transition="pop">Referee</a></li>
                    <li><a href="/grandslam/team/new" data-transition="pop">Teams</a></li>
                    <li><a href="/grandslam/tournament/new" data-transition="pop">Tournament</a></li>
                    <li><a href="/grandslam/trainer/new" data-transition="pop">Trainer</a></li>
                    <li><a href="/grandslam/grandslam/new" data-transition="pop">Grandslam</a></li>

                </ul>
            </div>
            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>Reports</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
                    <li><a href="/grandslam/award/list" data-transition="slidefade">Award</a></li>
                    <li><a href="/grandslam/country/list" data-transition="slidefade">Country</a></li>
                    <li><a href="/grandslam/game/list" data-transition="slidefade">Game</a></li>
                    <li><a href="/grandslam/location/list" data-transition="slidefade">Location</a></li>
                    <li><a href="/grandslam/modality/list" data-transition="slidefade">Modality</a></li>
                    <li><a href="/grandslam/nationality/list" data-transition="slidefade">Nationality</a></li>
                    <li><a href="/grandslam/player/list" data-transition="slidefade">Player</a></li>
                    <li><a href="/grandslam/referee/list" data-transition="slidefade">Referee</a></li>
                    <li><a href="/grandslam/team/list" data-transition="slidefade">Teams</a></li>
                    <li><a href="/grandslam/tournament/list" data-transition="slidefade">Tournament</a></li>
                    <li><a href="/grandslam/trainer/list" data-transition="slidefade">Trainer</a></li>
                </ul>
            </div>
        </div>

   	</div>

    <div data-role="panel" data-position="right" data-position-fixed="false" data-display="reveal" id="add-form" data-theme="b">

        <h3>Develop by Carlos Bedoy</h3>
        <p>Mobile responsive application develop, with support Oracle, MySQL, SQLite database, also this project is develop with Django Framework and JQueryMobile framework</p>
        <a href="#demo-links" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true">OK!</a>
        </div>




	<div data-role="header" data-theme="b">
		<h1>{% block header %}{% endblock %}</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
		    <a href="#add-form" data-icon="plus" data-iconpos="notext">Add</a>
	</div>

	<div data-role="content" data-theme="b">
        {% block content %}{% endblock %}

	</div>

    <div data-role="footer" data-theme="d">
        <center>
		{% block footer %}{% endblock %}
        </center>

	</div>
</div>
</body>
</html>




