<!DOCTYPE html>
        <!--
            Develop by Carlos Bedoy :D
            Django & Mobile Developer
        -->
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
<div data-role="page" id="{% block name-page %}{% endblock %}">

    <div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="b">

        <div data-role="collapsible-set">
            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>GrandSlamm</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">


                </ul>
            </div>
            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>Add item</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">

                </ul>
            </div>

            <div data-role="collapsible" data-collapsed="true" data-theme="c" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                <h3>Report item</h3>
                <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">

                </ul>
            </div>

        </div>

   	</div>

    <div data-role="panel" data-position="right" data-position-fixed="false" data-display="reveal" id="add-form" data-theme="b">

        <h3>Develop by Carlos Bedoy</h3>
        <p>Mobile responsive application develop, with support Oracle, MySQL, SQLite database, also this project is develop with Django Framework and JQueryMobile framework</p>
        <a href="#demo-links" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true">OK!</a>
        </div>




	<div data-role="header" data-theme="b">
		<h1>{% block header %}{% endblock %}</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
		    <a href="#add-form" data-icon="plus" data-iconpos="notext">Add</a>
	</div>

	<div data-role="content" data-theme="b">
        {% block content %}{% endblock %}

	</div>

    <div data-role="footer" data-theme="d">
        <center>
		{% block footer %}{% endblock %}
        </center>

	</div>



</div>
</body>
</html>




