<!DOCTYPE html>
<html>
<head>
    <title>CBGrandSlam</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<div data-role="page" id="inicio">




	<div data-role="header">
		<h1>{{proyecto}}</h1>
	</div>

	<div data-role="content">
    <center>
    <img src="http://www.clker.com/cliparts/3/7/7/6/1307046599992047297grand_slam_trans-hi.png"><br>
    </center>
    <label> Proyecto </label>
    <input type="text" value="{{proyecto}}">
    <label> Carrera </label>
    <input type="text" value="{{carrera}}">
    <label> Materia </label>
    <input type="text" value="{{materia}}">
    <label> Maestro </label>
    <input type="text" value="{{maestro}}">
    <label> Alumno </label>
    <input type="text" value="{{nombre}}">
    <label> Lenguaje </label>
    <input type="text" value="{{lenguaje}}">
    <label> Framework </label>
    <input type="text" value="{{framework}}">
    <label> Soporte </label>
    <input type="text" value="{{soporte}}">
    <label> Github </label>
    <input type="text" value="{{github}}">

	</div>

    <div data-role="footer">
        <div data-role="navbar">
		<ul>
			<li><a href="{% url game.views.index %}l">Main page</a></li>
			<li><a href="{% url game.views.newAward %}">Game</a></li>
		</ul>
	</div><!-- /navbar -->
	</div>



</div>

</body>
</html>
