<!DOCTYPE html>
<html>
<head>
    <title>CBGrandSlam</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Nombre del proyecto</td>
        <td>{{proyecto}}</td>
    </tr>
    <tr>
        <td>Carrera</td>
        <td>{{carrera}}</td>
    </tr>
    <tr>
        <td>Grado</td>
        <td>{{grado}}</td>
    </tr>
    <tr>
        <td>Grupo</td>
        <td>{{grupo}}</td>
    </tr>
    <tr>
        <td>Materia</td>
        <td>{{materia}}</td>
    </tr>
    <tr>
        <td>Maestro</td>
        <td>{{maestro}}</td>
    </tr>
    <tr>
        <td>Alumno</td>
        <td>{{nombre}}</td>
    </tr>
    <tr>
        <td>Lenguaje de programacion</td>
        <td>{{lenguaje}}</td>
    </tr>
    <tr>
        <td>Soporte</td>
        <td>{{soporte}}</td>
    </tr>
    <tr>
        <td>Frameworks</td>
        <td>{{framework}}</td>
    </tr>
    <tr>
        <td>Github</td>
        <td>https://github.com/cbedoy/CBGrandSlamDjango</td>
    </tr>

</table>
</body>
</html>