{% extends "base.html" %}
        {% block header %}Report about the history referee games{% endblock %}
{% block content %}
    <div data-role="collapsible-set" data-theme="c" data-content-theme="a">
        {%for result in results %}
            <div data-role="collapsible" data-theme="a" data-content-theme="a">
                <h3>{{result.1}} {{result.2}} at {{result.8}}</h3>
                <b>{{result.1}} {{result.2}}</b> has participed at the tournament <b>{{result.8}}</b> in the date<br>
                <b>{{result.7}}</b> this only have <b>{{result.4}}</b> years old, he appears in the

                {% if result.5 == 'AT' %}
                    <b>Time completed</b>
                {%else%}
                    <b>Half-time</b>
                {%endif%}
                <br><br>
                <table border="1">
                    <tr>
                        <td colspan="2">More information here</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>   {{result.3}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>    {{result.6}}</td>
                    </tr>
                </table>

            </div>

        {% endfor %}
        <div data-role="collapsible" data-theme="c" data-content-theme="a">
            {% for c in counts %}
                <h3>Total of games: {{c.0}}</h3>
            {% endfor%}
        </div>
    </div>
{% endblock %}
{% block footer %}
Develop by carlos bedoy :)
{% endblock %}