{% extends "base.html" %}
    {% block header %}
        Report Games
    {% endblock %}

        {% block content %}
            <table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive table-stroke">
                <thead>
                    <tr>
                      <th data-priority="1">Id</th>
                      <th data-priority="1">Referee</th>
                      <th data-priority="2">Teams A</th>
                      <th data-priority="2">Teams B</th>
                      <th data-priority="3">Tournament</th>
                      <th data-priority="5">Edit</th>
              <th data-priority="5">Delete</th>
                    </tr>
                  </thead>
                <tbody>
            {% for o in object_list %}
                <tr>
                   <th>{{o.id}}</th>
                  <th>{{o.referee}}</th>
                  <td>{{o.teamA}}</td>
                  <td>{{o.teamB}}</td>
                  <td>{{o.tournament}}</td>
                 <td><a href="{% url game_edit o.id %}" data-role="button" data-mini="true" data-icon="edit" data-iconpos="notext"></a></td>
                  <td><a href="{% url game_delete o.id %}" data-role="button" data-mini="true" data-icon="delete" data-iconpos="notext">.</a></td>
                </tr>
            {% endfor %}
                <tbody>
            </table>
                <br>
        <a href="{% url game_new %}" data-role="button" data-icon="plus" >New item</a>
        {% endblock %}
{% block footer %}
Develop by carlos bedoy :)
{% endblock %}