{% extends "base.html" %}
    {% block header %}
        Report tournaments
    {% endblock %}

        {% block content %}
            <table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive table-stroke">
                <thead>
                    <tr>
                        <th>Id</th>
                      <th data-priority="1">Name</th>
                      <th data-priority="2">Year</th>
                      <th data-priority="2">Description</th>
                      <th data-priority="3">Country</th>
                        <th>Change</th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                <tbody>
            {% for o in object_list %}
                <tr>
                    <th>{{o.id}}</th>
                  <th>{{o.name}}</th>
                  <td>{{o.year}}</td>
                  <td>{{o.description}}</td>
                  <td>{{o.country}}</td>
               <td><a href="{% url tournament_edit o.id %}" data-role="button" data-mini="true" data-icon="edit" data-iconpos="notext"></a></td>
                 <td><a href="{% url tournament_delete o.id %}" data-role="button" data-mini="true" data-icon="delete" data-iconpos="notext">.</a></td>
            </tr>
        {% endfor %}
            <tbody>
        </table>
    <br>
    <a href="{% url tournament_new %}" data-role="button" data-icon="plus" >New item</a>
    {% endblock %}


    {% block footer %}
        {{app}}
    {% endblock %}