{% extends "base.html" %}
        {% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add" />
</form>
    <script >
            $(document).ready(function(){
                $('#id_initialDate').prop('type', 'date');
                $('#id_lastDate').prop('type', 'date');
                $('#id_date').prop('type', 'date');
                $('#id_firstName').attr('placeholder', 'Esmeralda');
                $('#id_lastName').attr('placeholder', 'H. Ruiz');
                $('#id_email').attr('placeholder', 'example@example.com');
            });
    </script>
{% endblock %}
{% block footer %}
Develop by carlos bedoy :)
{% endblock %}